@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 10px;
    background-color: #101820;
}

a[role=button] {
    text-decoration: none;
}

[role="tooltip"] {
    z-index: 9999;
}
